@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: norse;
    src: url(../fonts/Norse-Bold.otf);
}

p {
    margin: 0;
}

a {
    color: white;
}

img {
    height: 80%;
    width: auto;
}

body {
    display: flex;
    justify-content: center;
    background-color: black;
    height: 98dvh;
    font-family: "Roboto", serif;
}

#main-container {
    width: 70dvw;
    display: flex;
}

#left-side {
    width: 35%;
    height: 100%;
    background-image: url("../img/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex: 0 1 auto;
    min-width:230px;
}

#right-side {
    width: 65%;
    height: 100%;
    background-color: white;
    flex: 1;
}

#odin-logo {
    height: 1.7em;
    margin-bottom: 7em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: norse;
    color: white;
    font-size: 5rem;
    background-color: rgb(0, 0, 0, 0.5);
}

#bg-author {
    align-self: center;
    color: white;
    font-size: small;
}

#form-container {
    margin: 20% 0;
}

#description-container {
    font-size: 1.4rem;
    margin-left: 5%;
    margin-right: 20%;
    font-weight: 600;
}